* {
	--corner-radius: 10px;
	--album-art-size: 100px;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

@font-face {
	font-family: Neue Haas Grotesk;
	font-weight: 100 800;
	src: url(./NHaasGroteskTXPro-Rg.ttf);
}

#statusContainer {
	font-style: italic;
	font-weight: bold;
	font-size: 30px;
	width: 400px;
	max-width: fit-content;
	text-align: center;
	background-color: #D12025;
	color: white;
	padding: 10px;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
}

#mainContainer {
	font-family: Neue Haas Grotesk;
	display: flex;
	position: absolute;
	height: var(--album-art-size);
	margin: 20px;
	/* filter: drop-shadow(15px 15px 7px rgba(0, 0, 0, 1)); */
	width: 100%;
	max-width: 500px;
	bottom: 45%;
	left: 50%;
	opacity: 0;
}

#albumArtBox {
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	border-radius: var(--corner-radius);
	overflow: hidden;
	margin: 0px 8px 0px 0px;
	object-fit: cover;
	width: var(--album-art-size);
	/* border: solid 2px white; */
}

#albumArtBox img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#songInfoBox {
	position: relative;
	color: white;
	width: calc(100% - 125px);
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	justify-content: center;
	z-index: 1;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
	overflow: hidden;
	z-index: 4;
	/* filter: drop-shadow(0px 0px 1px rgb(17, 20, 26)); */
}

#songInfo {
	/* background: rgba(0, 0, 0, 0.5);
	opacity: 0.9;
	background: #11141A; */
	position: relative;
	border-radius: var(--corner-radius);
	padding: 0px 20px;
	height: 100%;
	overflow: hidden;
	border: solid 2px rgba(255, 255, 255, 0.75);
	background: rgba(17, 20, 26, 0.75);
	box-shadow: inset 0 0 4px rgba(229, 235, 238, 0.25);
}

#IAmRunningOutOfNamesForTheseBoxes {
	position: absolute;
	width: calc(100% - 40px);
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#backgroundArt {
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: var(--corner-radius);
	overflow: hidden;
	z-index: -1;
	opacity: 0.75;
}

#backgroundImage {
	filter: blur(10px);
	position: absolute;
	width: 140%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#backgroundImageBack {
	filter: blur(10px);
	position: absolute;
	width: 140%;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	z-index: -1;
}

#artistLabel {
	font-size: 16px;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	transition: all 0.5s ease;
}

#songLabel {
	font-weight: bold;
	font-size: 20px;	
	width: calc(100%);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition: all 0.5s ease;
}

#progressBg {
	margin-top: 15px;
	width: 100%;
	height: auto;
	border-radius: 5px;
	background-color: #1F1F1F;
}

#progressBar {
	border-radius: 5px;
	height: 5px;
	width: 20%;
	background-color: #ffffff;
	margin: 10px 0px;
}

#times {
	position: relative;
	height: 16px;
	font-size: 16px;
	font-weight: 700;
	line-height: 2.2;
}

#progressTime {
	position: absolute;
}

#duration {
	position: absolute;
	width: 100%;
	text-align: right;
}

.text-show {
	opacity: 1;
	transition: all 0.25s ease;
}

.text-fade {
	opacity: 0;
	transition: all 0.25s ease;
}
